.App {
    text-align: center;
    
  }
  div#root{
    background-image: url("../../assests/image/b13.jpeg");
    background-size:cover;
  }
  .editorText{
    text-align: initial;
  
  }
  image{
    width: 500px;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* color: white; */
  }
  .addParambtn{
    text-align:left; 
  }
  .addFeb{
    text-size-adjust: 10px;
  }
  .MuiButtonBase-root{
    text-align:right;
  }
  
  .App-link {
    color: #09d3ac;
  }
  .examples{
    width: 150px;
  }
  .form{
    display: inline-grid;
    }
  .inputs {
    margin: 5px 0;
    padding: 10px;
    border: 2px solid #000;
  }
  .param{
  display: flex;
  flex: column; 
  }
  .removeBtn{
    height: 30px;
    background-color:rgba(245, 28, 28, 0.89);
  }
   .btn{
    box-shadow: inset -2px -3px 16px 0px black;  
  }
  .paramTex1{
    width: 200px;  
  }
  .paramTex2{
    width: 350px;
  } 
  .addbtn{
    text-align:left;     
  }
  