.App {
    text-align: center;
    
  }
  div#root{
    background-image: url("../../assests/image/b13.jpeg");
    background-size:cover;
  }
  .exText{
    text-align: initial;
  
  }
  image{
    width: 500px;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* color: white; */
  }
  .addbtn1{
    text-align:left; 
  }
  .addbtn{
    text-size-adjust: 10px;
  }
  .MuiButtonBase-root{
    text-align:right;
  }
  
  .App-link {
    color: #09d3ac;
  }
  .examples{
    width: 150px;
  }
  .form{
    display: inline-grid;
    /* background-image: url(/src/image/b3.jpeg); */
  }
  .inputs {
    margin: 5px 0;
    padding: 10px;
    border: 2px solid #000;
  }
  .param{
  display: flex;
  flex: column; 
  }
  .span{
    justify-content: inherit;
    align-items: initial;
  }
  .small{
    height: 50px;
    background-color: limegreen;
    box-shadow: inset -2px -3px 16px 0px grey;
  
  }
  .small1{
    height: 30px;
    background-color:rgba(245, 28, 28, 0.89);
  }
  /* .textarea{
    background-image: url("image/b5.jpeg");
    background-size:cover;
  
  } */
  .btn{
    box-shadow: inset -2px -3px 16px 0px black;
  
  }
  .tex1{
    width: 200px;  
    /* border: 1px solid grey; */
  }
  .tex2{
    width: 350px;
    /* border: 1px solid grey;  */
  } 
  /* .shareholder{
    border: 1px solid grey;
  
  } */